body {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-weight: lighter;
}

.main-img {
  box-shadow: 0px 2px 5px lightgray;
  width: 380px;
}

.main {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.bread-crumb {
  color: #565959;
  display: block;
  margin: 20 auto;
}

.title-content {
  margin-left: 40px;
  margin-right: 20px;
  display: block;
}

.link {
  color: #007185;
}

.ratings {
  width: 130px;
}

.second-title {
  font-weight: bold;
}
