
body {
    margin: 20px;
    font-family: 'Courier New', 'Courier', 'monospace';
}

.profile-img {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    display: flex;   
    justify-content:space-around;
    text-align: center;
    border-bottom: 5px solid #14213d;
    border-radius: 10px;
    background: #fca311;
    color: #e5e5e5;
    box-shadow: 5px 5px #e5e5e5;
}



